body{
    background-color: lightgrey !important;
}

.img-ds{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 15px;
}

.image-txt {
    z-index: 1;
    margin-top: 10%;
}


.box {
    background-color: rgba(55, 42, 17, 0.5);
    height: 10rem;
    align-content: center;
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: 15px;
}

#card{
    opacity: 0.5;
    transition-duration: 0.5s;
}

#card:hover {
    opacity:1;
}

@media (max-width: 480px) {
    .img-rs {
        width: 100% !important;
        margin: 0 !important;
        border-radius: 0;
    }
    
}